<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Page content here -->

    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">Q: {{ questionForm.controls['name'].value}} </a>
      </div>

      <div class="flex-none">
        <label
          aria-disabled="true"
          for="my-drawer-2"
          class="btn btn-primary drawer-button lg:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-5 h-5 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            ></path>
          </svg>
        </label>
      </div>
    </div>
    <!--First Step -->

    <div class="hero min-h-screen bg-base-200 flex items-center">
      <div class="hero-content text-left flex-grow" [formGroup]="examForm">
        <div *ngIf="currentStep === 0" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl font-bold">
            What’s the name of your Exam?
          </h1>
          <p class="py-6">
            This will be the name of your Exam — choose something
            that makes sense
          </p>

          <input
            placeholder="Exam Name..."
            formControlName="name"
            onkeydown="if (event.key === 'Enter') {event.preventDefault(); }"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          />
          <button
            type="submit"
            class="btn btn-primary rounded-xl mt-5"
            [disabled]="!examForm.controls['name'].valid"

            (click)="onCreateExam(currentStep)"
          >
            Next
          </button>
        </div>
        <div *ngIf="currentStep==1" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl font-bold">
           Describe your exam
          </h1>
          <p class="py-6">
            This could be anything: jusr make it make sense
          </p>

          <textarea

            placeholder="Ex: Budget,autumn,campaign ..."
            formControlName="description"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            maxlength="100"
          ></textarea>
          <div class="text-right text-sm text-gray-500">
            {{ examForm.controls['description'].value?.length || 0 }}/100
          </div>
          <button
            type="submit"
            class="btn btn-primary rounded-xl"
            [disabled]="!examForm.controls['description'].valid"

            (click)="onCreateExam(currentStep)"
          >
            Next
          </button>
          <button
            type="button"
            class="btn btn-primary rounded-xl ml-5"
           (click)="onBack()"
          >
            Back
          </button>

        </div>
        <div *ngIf="currentStep==2" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl font-bold">
            Set a timer for your exam
          </h1>
          <p class="py-6">
              It's in minutes
            </p>

          <input
            placeholder="Ex: 60,120,180 ..."
            formControlName="timer"
            type="number"
            min="1"
            max="600"
            class="w-full  my-5 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          />
          <div *ngIf="examForm.controls['timer'].hasError('min') || examForm.controls['timer'].hasError('max')" class="text-red-500 m-5 text-sm">
            Timer must be between 1 and 600 minutes.
          </div>
          <button
            type="submit"
            class="btn btn-primary rounded-xl"
            [disabled]="!examForm.controls['timer'].valid"
            (click)="onCreateExam(currentStep)"
          >
            Next
          </button>
          <button
            type="button"
            class="btn btn-primary rounded-xl ml-5"
            (click)="onBack()"
          >
            Back
          </button>
        </div>
        <div *ngIf="currentStep==3" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl font-bold">
            Do you want the Questions to be randomized for each student?
          </h1>
          <div class="py-6">
            <select formControlName="randomizeQuestions" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>

          <button
            type="submit" class="btn btn-primary rounded-xl"
            (click)="onCreateExam(currentStep)">
            Next
          </button>
          <button
            type="button"
            class="btn btn-primary rounded-xl ml-5"
            (click)="onBack()"
          >
            Back
          </button>
        </div>

        <div *ngIf="currentStep==4" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl font-bold">
            Do you want the Exam to be public for all student?
          </h1>
          <div class="py-6">
            <select formControlName="isPublic" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary rounded-xl" (click)="onCreateExam(currentStep)">Next</button>
          <button
            type="button"
            class="btn btn-primary rounded-xl ml-5"
            (click)="onBack()"
          >
            Back
          </button>
        </div>
        <div *ngIf="currentStep==5" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl font-bold">
            What is the Difficulty of the exam
          </h1>
          <div class="py-6">
            <select formControlName="difficultyLevel" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
              <option value="EASY">Easy</option>
              <option value="MEDIUM">Medium</option>
              <option value="HARD">Hard</option>

            </select>
          </div>

          <button type="submit" class="btn btn-primary rounded-xl" (click)="onCreateExam(currentStep)">Next</button>
          <button
            type="button"
            class="btn btn-primary rounded-xl ml-5"
            (click)="onBack()"
          >
            Back
          </button>
        </div>
        <div *ngIf="currentStep==6" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl mb-10 font-bold">
            Enter a date on which the exam should be passed
          </h1>

          <div class="relative m-5 max-w-sm">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
            </div>
            <input datepicker datepicker-format="mm/dd/yyyy" formControlName="passingDate" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
          </div>


          <button type="submit" class="btn btn-primary rounded-xl" (click)="onCreateExam(currentStep)">Next</button>
          <button
            type="button"
            class="btn btn-primary rounded-xl ml-5"
            (click)="onBack()"
          >
            Back
          </button>
        </div>
        <!--Questions Here Step -->
      </div>
      <div class="hero-content text-left flex-grow" [formGroup]="questionForm">

        <div *ngIf="currentStep==7" class="max-w-md mx-auto" data-aos="fade-right">
          <h1 class="text-5xl font-bold">
            Enter Question Information
          </h1>
          <p class="py-6">
            Press Next To Save It
          </p>

          <div class="py-4">
            <label for="questionName" class="block text-xl font-semibold mb-2">Question Name:</label>
            <textarea id="questionName"
                      placeholder="Enter question name..."
                      formControlName="name" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
                      rows="1"
                      onkeydown="if(event.key === 'Enter') { event.preventDefault(); }"
                      required
            ></textarea>
          </div>

          <div class="py-4">
            <label for="questionDescription" class="block text-xl font-semibold mb-2">Question Description:</label>
            <textarea id="questionDescription"
                      placeholder="Enter question description..."
                      formControlName="description"
                      maxlength="1000"
                      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"></textarea>
          </div>
          <div class="text-right text-sm text-gray-500">
            {{ questionForm.controls['description'].value?.length || 0 }}/1000
          </div>
          <div class="py-4">
            <label for="questionType" class="block text-xl font-semibold mb-2">Question Type:</label>
            <select id="questionType" formControlName="type" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
              <option value="QCM">QCM (Multiple Choice)</option>
              <option value="NORMAL">Normal</option>
            </select>
          </div>
          <div *ngIf="questionForm.controls['type'].value !=='QCM'" class="py-4">
            <label for="answer" class="block text-xl font-semibold mb-2">Answer:</label>
            <textarea id="answer"
                      placeholder="Enter question's Answer ..."
                      formControlName="answer"
                      maxlength="100"
                      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"></textarea>
          </div>
          <div  *ngIf="questionForm.controls['type'].value !=='QCM'" class="text-right text-sm text-gray-500">
            {{ questionForm.controls['answer'].value?.length || 0 }}/100
          </div>
          <div *ngIf="questionForm.controls['type'].value ==='QCM'" class="" [formGroup]="optionForm">
            <div class="py-4">
              <label for="option" class="block text-xl font-semibold mb-2">Option Value:</label>
              <textarea id="option" placeholder="Enter question name..." formControlName="value" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"></textarea>
            </div>
            <div class="py-4">
              <label for="OptionC" class="block text-xl font-semibold mb-2">Question Type:</label>
              <select id="OptionC" formControlName="isCorrect" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                <option value="true">Correct</option>
                <option value="false">false</option>
              </select>
            </div>
            <div  *ngIf="options !== null "  class="mb-4">
              <div   class="mb-4">
                <p class="font-semibold text-lg">Question Options:</p>
              </div>

              <div *ngFor="let opt of options; let i = index" class="mb-4 pl-4 border-l-4 border-gray-300">
                <p class="font-semibold text-lg">Option {{i + 1}}:</p>
                <p class="py-2 text-gray-700">Value: {{opt?.value}}</p>
                <p class="py-2 text-gray-700">Correct: {{opt?.isCorrect.toString()}}</p>
              </div>

            </div>
            <button type="submit" class="btn btn-primary rounded-xl" (click)="onAddOption()">Add Option</button>


          </div>

          <div class="py-4">
            <label for="questionTimer" class="block text-xl font-semibold mb-2">Question Timer:</label>
            <input id="questionTimer"
                      placeholder="Enter question timer in seconds..."
                      formControlName="timer"
                      type="number"
                      min="1"
                      max="10"
                      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            />
          </div>
          <div class="py-4">
            <label for="questionscore" class="block text-xl font-semibold mb-2">Question Score:</label>
            <input id="questionscore"
                      datatype="number"
                      placeholder="Enter question Score"
                      formControlName="score"
                      type="number"
                      min="1"
                      max="100"
                      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            />
            <div *ngIf="questionForm.controls['score'].hasError('min') || examForm.controls['timer'].hasError('max')" class="text-red-500 text-sm">
              Timer must be between 1 and 600 minutes.
            </div>
          </div>

          <div class="py-4">
            <label for="questionDifficulty" class="block text-xl font-semibold mb-2">Question Difficulty:</label>
            <select id="questionDifficulty" formControlName="difficultyLevel" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
              <option value="EASY">Easy</option>
              <option value="MEDIUM">Medium</option>
              <option value="HARD">Hard</option>
            </select>
          </div>

          <button type="submit"  [disabled]="!questionForm.valid" class="btn btn-primary rounded-xl" (click)="onCreateExam(currentStep)">Next</button>
          <button type="submit" class="btn btn-primary rounded-xl m-4" (click)="onSaveExam()">Save</button>
        </div>


      </div>

    </div>

    <dialog id="my_modal_1" class="modal">
      <div class="modal-box max-w-2xl p-6">
        <h3 class="text-2xl font-bold mb-6">Question Name: {{displayedQuestion?.name}}</h3>

        <div class="mb-4">
          <p class="font-semibold text-lg">Question Description:</p>
          <p class="py-2 text-gray-700">{{displayedQuestion?.description}}</p>
        </div>

        <div class="mb-4">
          <p class="font-semibold text-lg">Question Type:</p>
          <p class="py-2 text-gray-700">{{displayedQuestion?.type}}</p>
        </div>

        <div *ngIf="displayedQuestion?.type !== 'QCM'" class="mb-4">
          <p class="font-semibold text-lg">Question Answer :</p>
          <p class="py-2 text-gray-700">{{displayedQuestion?.answer}}</p>
        </div>

        <div  *ngIf="displayedQuestion?.type === 'QCM'"  class="mb-4">
          <div   class="mb-4">
            <p class="font-semibold text-lg">Question Options :</p>
          </div>

          <div *ngFor="let opt of displayedQuestion?.options; let i = index" class="mb-4 pl-4 border-l-4 border-gray-300">
            <p class="font-semibold text-lg">Option {{i + 1}}:</p>
            <p class="py-2 text-gray-700">Value: {{opt?.value}}</p>
            <p class="py-2 text-gray-700">Correct: {{opt?.isCorrect.toString()}}</p>
          </div>

        </div>
        <div class="mb-4">
          <p class="font-semibold text-lg">Question Score:</p>
          <p class="py-2 text-gray-700">{{displayedQuestion?.score}}</p>
        </div>
        <div class="mb-4">
          <p class="font-semibold text-lg">Question Timer:</p>
          <p class="py-2 text-gray-700">{{displayedQuestion?.timer}}</p>
        </div>

        <div class="mb-4">
          <p class="font-semibold text-lg">Question Difficulty:</p>
          <p class="py-2 text-gray-700">{{displayedQuestion?.difficultyLevel}}</p>
        </div>

        <div class="modal-action mt-6 flex justify-end">
          <form method="dialog" class="space-x-2">
            <button type="submit" class="btn btn-error" (click)="onDeleteQuestion()">Delete</button>
            <button type="submit" class="btn btn-info" (click)="onModifyQuestion()">Modify</button>
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>

    <!-- add channel here -->
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-2"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-100 text-base-content">
      <!-- Sidebar content here -->
      <button (click)="currentStep = 0" class="btn btn-ghost text-xl">{{ exam.name}}</button>

      <ul class="menu mt-10 bg-base-100 w-56 rounded-box">
        <li>
          <details open>
            <summary class=" ">questions</summary>
            <ul>
              <li *ngFor="let question of exam.questions">
                <button (click)="displayedQuestion = question" onclick="my_modal_1.showModal()">{{question.name}}</button>
              </li>
            </ul>
          </details>
        </li>
      </ul>
      <div class="divider"></div>
    </ul>
  </div>
</div>
