

<link
  rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
/>
<link
  rel="stylesheet"
  href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>

<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <app-header/>
    <main class="profile-page">
      <section class="relative bg-base-100 block h-500-px">
        <div class="absolute top-0 w-full h-full bg-base-200 bg-center bg-cover">
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-primary-200"
      ></span>
        </div>
      </section>
      <section class="relative py-16 bg-base-200">
        <div class="container mx-auto px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-base-100 w-full mb-6 shadow-xl rounded-lg -mt-64"
          >
            <div class="px-6">
              <div class="flex flex-wrap justify-center">

                <div type="button"   class="w-full  lg:w-3/12 px-4 lg:order-2 flex justify-center">
                  <div class="relative">
                    <img
                      alt="..."
                      [src]=user.image
                      class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px"

                    />
                  </div>
                </div>
                <!-- Open the modal using ID.showModal() method -->
                <dialog id="my_modal_1" class="modal">
                  <div class="modal-box">
                    <h3 class="text-lg font-bold">Hello!</h3>
                    <p class="py-4">Press ESC key or click the button below to close</p>
                    <div class="modal-action">
                      <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                      </form>
                    </div>
                  </div>
                </dialog>
                <div
                  class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center"
                >
                  <div class="py-6 px-3 mt-32 sm:mt-0">
                    <label for="my-drawer"  class="btn btn-primary rounded-lg" type="button">
                      Edit Profile
                    </label>


                  </div>
                </div>
                <div class="w-full lg:w-4/12 px-4 lg:order-1">
                  <div class="flex justify-center py-4 lg:pt-4 pt-8">
                  </div>
                </div>
              </div>
              <div class="text-center mt-12">
                <h3
                  class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
                >
                  {{ user.firstname }} {{user.lastname}}
                </h3>
                <div class="mb-2 text-blueGray-600">
                  <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i
                  >{{ user.role }}
                </div>

                <div class="mb-2 text-blueGray-600 mt-10">
                  <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i
                  >{{ user.email }}
                </div>
              </div>
              <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                <div class="flex flex-wrap justify-center">
                  <div class="w-full lg:w-9/12 px-4">
                    <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                      {{ user.Description }}
                    </p>
                    <button *ngIf="!showMore" (click)="onShowMore()" class="btn ">Show more <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                    </button>
                    <button *ngIf="showMore" (click)="onShowMore()" class="btn">Show less<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                    </svg>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section *ngIf="showMore"  class="  mx-40">


      </section>

    </main>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-96 p-4">
      <!-- Sidebar content here -->
      <li>
        <h1 class="text-2xl font-bold text-center my-4">Update Profile : </h1>
      </li>
      <div class="form-control mb-6">
        <label class="label flex items-center mb-2">
          <span class="label-text font-semibold text-lg text-gray-700">Profile Image:</span>
        </label>

        <div class="flex items-center space-x-4">
          <div class="avatar">
            <div *ngIf="imagePreview" class="w-24 h-24 rounded-full">
              <img [src]="imagePreview" alt="image preview" class="w-full h-full object-cover rounded-full border" />
            </div>
            <div *ngIf="!imagePreview" class="w-24 h-24 rounded-full">
              <img [src]="user.image" alt="profile picture" class="w-full h-full object-cover rounded-full border" />
            </div>
          </div>
          <input type="file"
                 class="file-input file-input-bordered w-full max-w-xs"
                 (change)="onFileSelected($event)"
                 accept="image/*"
          />
        </div>
      </div>


      <form class="card-body" [formGroup]="profileForm" >
        <div class="form-control mb-6">
          <label class="label flex items-center mb-2">
            <span class="label-text font-semibold text-lg text-gray-700">FirstName:</span>
          </label>
          <input
            formControlName="firstname"
            type="text"
            placeholder="Enter your first name"
            class="input input-bordered w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2"
            required
          />
        </div>

        <div class="form-control mb-6">
          <label class="label flex items-center mb-2">
            <span class="label-text font-semibold text-lg text-gray-700">LastName:</span>
          </label>
          <input
            formControlName="lastname"
            type="text"
            placeholder="Enter your last name"
            class="input input-bordered w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 "
            required
          />
        </div>


        <div class="form-control absolute bottom-6 right-6">
          <button type="submit" (click)="onUpdateProfile()" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </ul>
  </div>
</div>
