<app-header/>
<h1 class="p-32 text-5xl font-bold ">Invitations</h1>




<div *ngFor="let invitation of invitationswithnames" class="flex justify-center mt-5">
  <div  class="card w-3/4 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Join workspace  : {{invitation.name}}</h2>

      <p></p>

      <div class="card-actions justify-end">
        <button  class="btn btn-primary"(click)="onAcceptInvitation(invitation)">Accept</button>
        <button class="btn btn-primary"(click)="onDeclineInvitation(invitation)">Decline</button>
      </div>
    </div>
  </div>
</div>
