<div class="navbar bg-base-100 border-b">
  <div class="flex-1">
    <a routerLink="/Home" class="btn btn-ghost text-xl">SpeedEx</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div *ngIf="localStorage.getItem('role') === 'USER'"   routerLink="/Invitations" tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>

          <span class="badge badge-sm indicator-item">{{invNumber}}</span>
        </div>
      </div>

    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="mask mask-squircle w-12 h-12">
          <img *ngIf="user?.profileImg!==null" [src]="user?.profileImg" />
          <div
            *ngIf="user?.profileImg === null"
            class="w-10 h-10 rounded-full mr-2 flex items-center justify-center bg-gray-300 text-gray-600"
          >
            {{ user?.lastname.charAt(0).toUpperCase() }}
          </div>
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a routerLink="/Profile" class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
        <li *ngIf="localStorage.getItem('role') === 'ADMIN' && path!=='Workspace' "><a [routerLink]="['/CWS',localStorage.getItem('id')]" class="btn btn-primary">New WorkSpace</a>
        </li>
      </ul>

    </div>
  </div>
</div>
