<div class="navbar bg-base-100 border-b">
  <div class="flex-none">
    <label *ngIf="!hidden"
           [for]="drawerCheckboxId"
           class="drawer-button btn btn-primary  btn-ghost ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>
  </div>
  <div class="flex-1">
    <a routerLink="/Home" class="btn btn-ghost text-xl">SpeedEx</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div *ngIf="localStorage.getItem('role') === 'USER'"   routerLink="/Invitations" tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>

          <span class="badge badge-sm indicator-item">{{invNumber}}</span>
        </div>
      </div>
      <button *ngIf="localStorage.getItem('role')==='USER'" class="btn btn-primary  btn-ghost btn-rounded" onclick="my_modal_1.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

      </button>
      <button *ngIf="localStorage.getItem('role')==='ADMIN'" class="btn btn-primary  btn-ghost btn-rounded" title="create workspace" [routerLink]="['/CWS',localStorage.getItem('id')]" >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

      </button>
      <dialog *ngIf="localStorage.getItem('role')==='USER'" id="my_modal_1" class="modal" [formGroup]="codeForm">
        <div class="modal-box max-w-2xl p-6">
          <h3 class="card-title mb-5">Join a workspace : </h3>
          <!-- Display user account information -->
          <!-- Replace 'currentUser' with actual variable or use Angular binding -->
          <div class="card  w-full bordered shadow">
            <div class="card-body">
              <h2 class="card-title"> You are currently signed in with :</h2>
              <p>hayaouimoaud#gmail.com</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary"
                (click)="onLogout()">Change accounts</button>
              </div>
            </div>
          </div>
          <div class="divider"></div>

          <div class="card  w-full bordered shadow">
            <div class="card-body">
              <h2 class="card-title">Workspace Code:</h2>
              <label class="block mt-4">
                <input
                      type="text"
                      onkeydown="if (event.key === 'Enter') {event.preventDefault(); }"
                      formControlName="code"
                      id="code"
                      class="input"
                      minlength="5"
                      maxlength="8"
                       placeholder="Enter workspace code...">
                <div *ngIf="code.invalid && (code.dirty || code.touched)">
                  <div  *ngIf="code.errors?.['forbiddenChars']||code.errors?.['noSpaces']" class="text-red-500 m-5 text-sm">
                    Course codes are 5-7 characters long, including letters and numbers, but do not contain spaces or symbols.                  </div>
                  <div *ngIf="code.errors?.['minLength']">
                    Forbidden characters are not allowed.
                  </div>
                </div>

              </label>
            </div>
          </div>
          <div class="modal-action mt-6 flex justify-end">
            <form method="dialog" >
              <button
                class="btn btn-primary"
                [disabled]="!codeForm.controls['code'].valid"
                (click)="onJoinWorkSpace()"
                type="submit"
              >Join</button>
              <button class="btn ml-5" type="submit">Cancel</button>

            </form>
          </div>
        </div>    </dialog>


    </div>
      <div routerLink="/Profile" title="profile" tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="mask mask-squircle w-12 h-12">
          <img *ngIf="user?.profileImg!==null" [src]="user?.profileImg" />
          <div
            *ngIf="user?.profileImg === null"
            class="w-10 h-10 rounded-full mr-2 flex items-center justify-center bg-gray-300 text-gray-600"
          >
            {{ user?.lastname.charAt(0).toUpperCase() }}
          </div>
      </div>


    </div>
  </div>
</div>
