<div class="m-20">

<div class="w-full rounded-box">
    <div class="carousel-item">
      <img class="w-full h-80  rounded-3xl shadow" [src]="image" alt="Burger" />
    </div>
  </div>
  <div class="w-full rounded-box mt-4 ">
    <div class="flex justify-between">
      <div class="py-4">
        <label for="sort" class="block text-xl font-semibold mb-2">Filter By:</label>
        <select id="sort"  class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        (change)="onChangeSortOption($event)">
          <option value="date">Date</option>
          <option value="id">Id</option>
          <option value="name">name</option>
        </select>
      </div>
      <div class="py-4">
        <label for="search" class="block text-xl font-semibold mb-2">Search:</label>
        <input id="search" type="text" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
               placeholder="Enter exam name" [(ngModel)]="searchQuery" (input)="onSearch()">
      </div>
      <button  *ngIf="localStorage.getItem('role')==='ADMIN'" [routerLink]="['/Create',id]" class="btn btn-primary mt-10">
        Create new Exam
      </button>
    </div>
    <div *ngIf="filteredExams.length === 0" class="text-center text-gray-500 mt-4">
      No exams found.
    </div>
    <div *ngFor="let exam of filteredExams" class="flex justify-center mt-5">
      <div  class="card w-3/4 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">{{ exam.name }}</h2>    <!-- Exam Name-->

          <p class="text-red-700" *ngIf="exam.result === 'CHEATED'"> Note : (You have been caught cheating on this exam)</p>    <!-- Exam description-->
          <p>{{ exam.description }}</p>    <!-- Exam description-->

          <div class="card-actions justify-end">
            <button *ngIf="exam?.passed ===false && localStorage.getItem('role') !== 'ADMIN'" class="btn btn-primary" [routerLink]="['/Exam',exam.id]">Pass Exam now </button>
            <button *ngIf="exam?.passed ===true&& localStorage.getItem('role') !== 'ADMIN' "  class="btn btn-primary "  [routerLink]="['/Exam',exam.id]" disabled>Passed</button>
            <button *ngIf="localStorage.getItem('role') === 'ADMIN' "  class="btn btn-primary "  [routerLink]="['/Consult',exam.examGroup]" >check Status </button>

          </div>
        </div>
      </div>
    </div>


  </div>
  </div>
