<app-header></app-header>

<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content ">
    <!-- Page content here -->
    <label for="my-drawer-2" class="btn drawer-button lg:hidden"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
    </svg>
    </label>
    <div role="tablist" class="tabs tabs-lifted">
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Docs" />
      <div role="tabpanel" (rtclick)="onTest($event)" class="tab-content bg-base-100 rounded-box p-6 mx-20 size-auto">
        <div class="w-full h-48 rounded-box">
          <div class="text-sm breadcrumbs">
            <ul>
              <li>
                <a>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
                  Home
                </a>
              </li>
              <li>
                <a>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
                  Documents
                </a>
              </li>
              <li>
      <span class="inline-flex gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
        Add Document
      </span>
              </li>
            </ul>
          </div>

          <a *ngIf="localStorage.getItem('role') ==='ADMIN'" onclick="my_modal_23.showModal()" class="btn btn-primary fixed bottom-5 right-5">New Document</a>
          <!-- Open the modal using ID.showModal() method -->
          <dialog id="my_modal_23" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Upload document!</h3>
              <p class="py-4">Press ESC key or click the button below to close</p>
              <div class="modal-action">
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
          </dialog>
        </div>
      </div>

      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Exams" checked />
      <div role="tabpanel" class="tab-content bg-base-100  rounded-box p-6 mx-20 size-auto">
        <div class="w-full rounded-box">
          <div class="carousel-item">
            <img class="w-full h-80 mx-40 rounded-3xl" src="{{image}}" alt="Burger" />
          </div>
        </div>
        <div class="w-full rounded-box mt-4 ">
          <div class="flex justify-between">
            <div class="py-4">
              <label for="questionDifficulty" class="block text-xl font-semibold mb-2">Filter By:</label>
              <select id="questionDifficulty"  class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                <option value="EASY">QCM</option>
                <option value="MEDIUM">Normal</option>
                <option value="HARD">Hard</option>
              </select>
            </div>
            <button  *ngIf="localStorage.getItem('role')==='ADMIN'" [routerLink]="['/Create',id]" class="btn btn-primary mt-10">
              Create new Exam
            </button>
          </div>

          <div *ngFor="let exam of exams" class="flex justify-center mt-5">
            <div  class="card w-3/4 bg-base-100 shadow-xl">
              <div class="card-body">
                <h2 class="card-title">{{ exam.name }}</h2>    <!-- Exam Name-->

                <p>{{ exam.description }}</p>    <!-- Exam description-->

                <div class="card-actions justify-end">
                  <button *ngIf="exam?.passed ===false && localStorage.getItem('role') !== 'ADMIN'" class="btn btn-primary" [routerLink]="['/Exam',exam.id]">Pass Exam now </button>
                  <button *ngIf="exam?.passed ===true&& localStorage.getItem('role') !== 'ADMIN' "  class="btn btn-primary "  [routerLink]="['/Exam',exam.id]" disabled>Passed</button>
                  <button *ngIf="localStorage.getItem('role') === 'ADMIN' "  class="btn btn-primary "  [routerLink]="['/',exam.id]" disabled>check Status </button>

                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Persons" />
      <div role="tabpanel" class="tab-content bg-base-100  rounded-box p-6 mx-20">
        <div class="w-full rounded-box">
          <div class="carousel-item">
            <img class="w-full h-80  rounded-3xl" src="{{image}}" alt="Burger" />
          </div>
        </div>
        <h1 class="mt-5 ml-4 text-2xl font-bold ">Admin</h1>

        <div class="overflow-x-auto flex justify-center mt-5 ">

          <table class="table border-t">
            <!-- head -->
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            <tr>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <div
                        class="w-10 h-10 rounded-full mr-2 flex items-center justify-center bg-gray-300 text-gray-600"
                      >
                        {{ WorkSpaceAdmin?.lastname.charAt(0).toUpperCase() }}
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{{ WorkSpaceAdmin?.lastname }} {{ WorkSpaceAdmin?.firstname }}</div>
                    <div class="text-sm opacity-50">{{ WorkSpaceAdmin?.email }}</div>
                  </div>
                </div>
              </td>
            </tr>
            <!-- row 2 -->

            </tbody>
          </table>
        </div> <!-- Admin Table-->

        <h1 class="mt-5 ml-30 text-2xl font-bold ">Students</h1>
        <button *ngIf="localStorage.getItem('role')==='ADMIN'"
                class="btn btn-primary mt-10 flex right-2"
                onclick="my_modal_2.showModal()"

        >
            Add Student
        </button><!-- Student Table-->
        <dialog id="my_modal_2" class="modal" [formGroup]="emailForm">
          <div class="modal-box">
            <p class="py-6">
              enter email and find if user exist before adding them
            </p>
            <textarea
              placeholder="User email..."
              formControlName="email"
              class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            ></textarea>

            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Cancel</button>
                <button
                  type="submit"
                  class="btn btn-primary rounded-xl ml-5"
                  [disabled]="!emailForm.controls['email'].valid"
                  (click)="onFindUser()"
                  onclick="my_modal_1.showModal()"
                >
                  Find
                </button>
              </form>
            </div>
          </div>
        </dialog>
        <dialog id="my_modal_1" class="modal">
          <div class="modal-box">
            <span *ngIf="loading" class="loading loading-spinner loading-lg flex justify-center"></span>

            <h3 *ngIf="!loading" class="font-bold text-lg">{{user.firstname}} {{user.lastname}}</h3>
            <p *ngIf="!loading" class="py-4">{{ user.email }}</p>
            <div *ngIf="!loading" class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Cancel</button>
                <button class="btn ml-5" (click)="onAddUser()">Add User</button>
              </form>
            </div>
          </div>
        </dialog>
        <div class="overflow-x-auto flex justify-center mt-5 ">

          <table class="table border-t">
            <!-- head -->
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            <tr *ngFor="let user of WorkSpaceUsers">
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img *ngIf="user.profileImg!==null" [src]="user.profileImg" />
                      <div
                        *ngIf="user.profileImg == null"
                        class="w-10 h-10 rounded-full mr-2 flex items-center justify-center bg-gray-300 text-gray-600"
                      >
                        {{ user.lastname.charAt(0).toUpperCase() }}
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{{ user.lastname }} {{ user.firstname }}</div>
                    <div class="text-sm opacity-50">{{ user.email }}</div>
                  </div>
                </div>
              </td>
              <td *ngIf="localStorage.getItem('role') === 'ADMIN'">
                <button onclick="my_modal_3.showModal()"
                        class="btn btn-ghost "
                        (click)="onsetUser(user)"
                >

                  <svg xmlns="http://www.w3.org/2000/svg"   fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">


                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
                </button>
                <!-- Open the modal using ID.showModal() method -->

              </td>

            </tr>

            <!-- row 2 -->

            </tbody>
          </table>
          <dialog id="my_modal_3" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Are you sure You want to delete this user ?</h3>
              <p  class="py-4">{{ user2.email }}</p>
              <p  class="py-4">{{user2.lastname}} {{ user2.firstname }}</p>


              <div class="modal-action">
                <form method="dialog">

                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn">Close</button>
                  <button class="btn btn-error ml-5"
                  (click)="onRemoveUser(user2.id)"
                  >Delete</button>
                </form>
              </div>
            </div>
          </dialog>

        </div>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->

      <li>
        <details open>
          <summary class="mt-2 "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
          </svg>

            utils</summary>
          <ul>
            <li  class="py-1">
              <div class="flex items-center">

                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                  </svg>

                <a routerLink="/Profile">
                  Calender
                </a>
              </div>
            </li>
            <li  class="py-1">
              <div class="flex items-center">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                <a routerLink="/Home" class="">

                  Home
                </a>
              </div>
            </li>
          </ul>
        </details></li>
      <div class="divider"></div>

      <li>
        <details open>
        <summary class="mt-2 "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
        </svg>
          My Classes</summary>
        <ul>
          <li *ngFor="let workspace of workspaces" class="py-1">
            <div class="flex items-center">
              <div
                class="w-10 h-10 rounded-full mr-2 flex items-center justify-center bg-gray-300 text-gray-600"
              >
                {{workspace.name.charAt(0).toUpperCase()}}
              </div>
              <button (click)="onGotoWs(workspace.id)">
                {{workspace.name}}

              </button>
            </div>
          </li>
          <li class="" onclick="my_modal_11.showModal()">
            <div class="flex items-center">
              <button *ngIf="localStorage.getItem('role') === 'ADMIN' " class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4.5v15m7.5-7.5h-15"
                  />
                </svg>
                <span  class="ml-1 text-sm">new Workspace</span>
              </button>
            </div>
          </li>
        </ul>
      </details></li>
      <div class="divider"></div>
      <li>

      <details open>
        <summary class="mt-2 "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
        </svg>
          My Classes</summary>
        <ul>
          <li *ngFor="let workspace of workspaces" class="py-1">
            <div class="flex items-center">
              <div
                class="w-10 h-10 rounded-full mr-2 flex items-center justify-center bg-gray-300 text-gray-600"
              >
                {{workspace.name.charAt(0).toUpperCase()}}
              </div>
              <a routerLink="/Profile">
                {{workspace.name}}

              </a>
            </div>
          </li>
          <li class="" onclick="my_modal_11.showModal()">
            <div class="flex items-center">

            </div>
          </li>
        </ul>
      </details></li>


    </ul>

  </div>
</div>
