<app-header></app-header>

<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content ">
    <!-- Page content here -->
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>
    <div role="tablist" class="tabs tabs-lifted">
      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Tab 1" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 ">
        <div class="w-full rounded-box">
          <div class="carousel-item">
            <img class="w-full h-80 mx-40 rounded-3xl" src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" alt="Burger" />
          </div>
        </div>         </div>

      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Exams" checked />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 size-auto">
        <div class="w-full rounded-box">
          <div class="carousel-item">
            <img class="w-full h-80 mx-40 rounded-3xl" src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" alt="Burger" />
          </div>
        </div>
      </div>

      <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Persons" />
      <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
        <div class="w-full rounded-box">
          <div class="carousel-item">
            <img class="w-full h-80 mx-40 rounded-3xl" src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" alt="Burger" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <li><a routerLink="/Home" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>

        Home</a></li>
      <div class="divider"></div>

      <li>
        <details open>
        <summary class="mt-2 ">WorkSpaces</summary>
        <ul>
          <li class="py-1">
            <div class="flex items-center">
              <img

                alt="User Avatar"
                class="w-6 h-6 rounded-full mr-2"
              />
              <div
                class="w-6 h-6 rounded-full mr-2 flex items-center justify-center bg-gray-300 text-gray-600"
              >
              </div>
              <a routerLink="/Profile">
                      <span class="font-semibold text-sm"
                      >
                      </span>
              </a>
            </div>
          </li>
          <li class="py-1">
            <div class="flex items-center">
              <img
                src="https://i.ibb.co/XJ5y9WM/me.jpg"
                alt="User Avatar"
                class="w-6 h-6 rounded-full mr-2"
              />

              <a routerLink="/Profile">
                      <span class="font-semibold text-sm"
                      >hayaoui Mouad (you)
                      </span>
              </a>
            </div>
          </li>
          <li class="" onclick="my_modal_11.showModal()">
            <div class="flex items-center">
              <button class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4.5v15m7.5-7.5h-15"
                  />
                </svg>
                <span class="ml-1 text-sm">Add coworkers</span>
              </button>
            </div>
          </li>
        </ul>
      </details></li>
      <div class="divider"></div>

    </ul>

  </div>
</div>
