




<div *ngIf="!start && !cheating" class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Start Exam</h1>
      <p class="py-6">Click Get Started To Start the exam</p>
      <button (click)="start = !start" class="btn btn-primary">Get Started</button>
      <button routerLink="Home" class="btn btn-primary ml-5">cancel</button>
    </div>
  </div>
</div>


<div *ngIf="start && !cheating && !loading" class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Page content here -->

    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">diff</a>
      </div>

      <div class="flex-none">
        <span class="countdown font-mono text-2xl">
          <span [style]="'--value:'+[hours]+';'"></span>:
          <span [style]="'--value:'+[minutes]+';'"></span>:
          <span [style]="'--value:'+[seconds]+';'"></span>
        </span>
        <label
          aria-disabled="true"
          for="my-drawer-2"
          class="btn btn-primary drawer-button lg:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-5 h-5 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            ></path>
          </svg>
        </label>
      </div>
    </div>
    <!--First Step -->

    <div  class="max-w-md mr-auto ml-20 mt-20" data-aos="fade-right">
      <h1 class="text-3xl font-bold">
        {{currentQusetion?.name}}      </h1>
      <p class="py-6"> {{currentQusetion?.description}}    </p>

      <div *ngIf="currentQusetion?.type ==='NORMAL'" [formGroup]="answerForm" class="py-4">
        <label for="questionName" class="block text-xl font-semibold mb-2">Your Answer:</label>
        <textarea id="questionName" placeholder="Enter question name..." formControlName="answer" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" required></textarea>
      </div>
      <div *ngIf="currentQusetion?.type ==='QCM'" [formGroup]="optionForm" class="py-4">
        <div *ngFor="let option of currentQusetion?.options" class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">{{ option.value }}</span>
            <input type="radio" formControlName="userOption" value="{{option.id}}"  class="radio checked:bg-blue-500" checked />
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary rounded-xl" (click)="onSaveQuestion()" >Next</button>
      <button hidden="hidden" type="submit" class="btn btn-primary rounded-xl m-4" onclick="my_modal_1.showModal()"  >Finish</button>
      <div class="divider"></div>

    </div>
    <!-- Open the modal using ID.showModal() method -->
    <dialog id="my_modal_1" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Are You sure You want to submit exam ??</h3>
        <p class="py-4">Press Submit to confirm key or click the button below to close</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Close</button>
            <button class="btn ml-5"  (click)="onSaveExam()">Submit</button>
          </form>
        </div>
      </div>
    </dialog>


    <!-- add channel here -->
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-2"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-100 text-base-content">
      <!-- Sidebar content here -->
      <a class="btn btn-ghost text-xl">{{ examName }}</a>

      <ul class="menu mt-10 bg-base-100 w-56 rounded-box">
        <li>
          <details open>
            <summary class=" ">questions</summary>
            <ul *ngFor="let question of questions">
              <li>
                <button (click)="currentQusetion = question">{{question.name}}</button>
              </li>
            </ul>
          </details>

        </li>
      </ul>
      <div class="divider"></div>
    </ul>
  </div>
</div>

<div *ngIf="cheating && !loading" class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">You were caught cheating</h1>
      <p class="py-6">This is you first and last chance </p>
      <button (click)="cheating = !cheating" class="btn btn-primary">Continue</button>
    </div>
  </div>
</div>
<div  *ngIf="loading" class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <span class=" loading loading-spinner loading-lg"></span>

    </div>
  </div>
</div>


<div *ngIf="errorBig" class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">An error has Occured in the System </h1>
      <p class="py-6">You Can Try passing the exam later</p>
      <button routerLink="Home" class="btn btn-primary">Go Back Home</button>
    </div>
  </div>
</div>
